body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body header {
    display: flex;
    background-color: #c01010d7;
    height: 80px;
    width: 100%;
}

body header .logo {
    display: flex;
    height: 60px;
    width: 45px;
    margin-left: 100px;
    margin-top: 10px;
  
}

body header .nomeempresa {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 30px;
    margin-top: 26px;
    font-size: 30px;
    font-family: sans-serif;
    
}

body section {
    background-color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}


body section .texto1 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 300px;
    margin-top: 30px;
    font-size: 34px;
    font-weight: 700;
    font-family: sans-serif;
    width: 150px;
    color: #c01010d7;
}

body section .texto2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    list-style-type: none;
    margin-right: 30rem;
}

body section .texto2 h3,h4 {
    color: rgba(161, 161, 161, 0.918);
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    font-family: 'Nunito', sans-serif;
}

body section .texto2 .b1, .b2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
    font-size: 20px;
    color: #c01010d7;
    font-family: 'Nunito', sans-serif;
}

body section .texto2 .negrito {
    color: rgb(97, 95, 95);
    font-size: 17px;
    padding-left: 5px;
}

body section .alerta {
    background-color:#c01010d7;
    box-shadow: rgb(0 0 0 / 25%) 0px -1px 8px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 250px;
    height:50px;
} 
body section .alerta .npedido h5 {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
} 


body .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 800px;
    width: 750px;
    background: transparent;
}

body .container .pizza {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    flex-direction: column;
    height: 315px;
    width: 160px;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: rgb(0 0 0 / 25%) 0px -1px 8px;
    padding: 6px;
    padding-bottom: 55px;
}

body p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c01010d7;
    font-weight: bold;
    font-family: 'Nunito';
    font-size: 15px;
}

body .container .pizza img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    width: 130px;
    height: 80px;
    border-radius: 10px;
}


body .container .pizza .preço {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 15px;
    font-weight: bold;
}
body .container .pizza .descricao {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 0px;
    color: rgb(103, 107, 106);
    font-family: sans-serif;
}

body .container .pizza .ingredientes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
    font-size: 11px;
    margin-top: 12px;
    color: rgba(103, 107, 106, 0.685);
    width: 105px;
    font-family: sans-serif;
    font-weight: 300;

}

body .mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 730px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    flex-direction: column;
    background-color: #feffff;
    box-shadow: rgb(0 0 0 / 25%) -3px 3px 8px;

}

body .mapa iframe {
    width: 700px;
    height: 270px;
    margin-bottom: 40px;
    border-radius: 10px;
}

body .mapa iframe .local {
    display: flex;
    align-items: center;
    justify-content: center;
}

body .mapa h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: rgba(161, 161, 161, 0.918);
    font-size: 15px;
}

body .fazerpedido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color:#c01010d7;
    border-radius: 8px;
    width: 740px;
    height: 50px;
}

body .fazerpedido .pedidosselecionados {
    font-size: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    width: 140px;
    margin-right: 40px;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
}

body .fazerpedido .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    margin-left: 50%;
    margin-right: 20px;
    color: #c01010d7;
    font-weight: bold;
    border: none;
    background-color: white;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: #02141ffd;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    
}

.rodape h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 20px;
    color: rgba(161, 161, 161, 0.918);
}

.rodape h6 .devsuperior {
    color: azure;
    margin-left: 5px;
}

footer .redesocial {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer .socialyoutube img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
    padding: 0px;
}

footer .sociallinkedin img {
    display: flex;
    justify-content: center;
    height: 23px;
    width: 23px;
    margin-bottom: 10px;
    padding: 5px;
}


footer .socialinstagram img {
    display: flex;
    justify-content: center;
    height: 23px;
    width: 23px;
    margin-bottom: 10px;
}

