body {
    margin: 0;
    padding: 0;
    background-color: rgb(204, 204, 204);
}

body header {
    height: 50px;
    background-color:  #DA5C5C;;
}

body #etapas {
    height: 100px;
    background-color: #ececec;
   
   
}

.numeropedido {
    width: 250px;
    height: 50px;
    background-color: #DA5C5C;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    margin-left: 75%;
    justify-content: center;
    align-items: center;
   
}
span {
    color: white;
    font-weight: bold;
    display: flex;
    
}
/* 
#texto01 {
    width: 250px;
    height: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 650px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    

} */

body #cardapio {
    width: 800px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    

}
body #cardapio  .container {
    margin-top: 20px;
        background-color: #919191;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        
}
body #cardapio .container .sabores {
   
    width: 170px;
    height: 300px;
    margin: 10px;
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body #mapa {
    height: 400px;
    width: 1000px;
    background-color: #968282;
    display: flex;
    justify-content: center;
    margin-left: 435px;
    margin-top: 30px;
    border-radius: 10px;
    
}

footer {
    margin-top: 161px;
    background-color: #02141ffd;
    height: 70px;
}