body {
    margin: 0;
    padding: 0;
    background-color: rgb(204, 204, 204);
}

body header {
    height: 75px;
    background-color:  #DA5C5C;;
    display: flex;
}

.texto1 {
    font-size: 40px;
    width: 170px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-right: 70%;
    margin-top: 80px;
    justify-content: center;
    color: #c24848;
    font-weight: bold;

}

.texto2 {
    
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 70px;
    margin-bottom: 10px;
}
.texto3 {
    
    width: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 30px;
    margin-bottom: 2px;
}

b {
    color: #c24848;
    font-weight: bold;
    font-size: 22px;
    margin-right: 7px ;
}
body #etapas {
    height: 30px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;


}

.numeropedido {
    width: 300px;
    height: 50px;
    background-color: #DA5C5C;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 100px;
    display: flex;
    margin-left: 90em;
    justify-content: center;
    align-items: center;

}


.etapa2 {
   display: flex;
   justify-content: center;
   align-items: center;
}

body #cardapio {
    width: 800px;
    display: flex;
    align-items: center;
    margin: 0 auto;


}
body #cardapio  .container {
    margin-top: 20px;
        background-color: #919191;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;


}
body #cardapio .container .sabores {

    width: 170px;
    height: 450px;
    margin: 10px;
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body #mapa {
    height: 400px;
    width: 1000px;
    background-color: #968282;
    display: flex;
    justify-content: center;
    margin-left: 435px;
    margin-top: 30px;
    border-radius: 10px;

}

.localização {
    margin-top: 10px;
    font-size: 20px;
}

footer {
    margin-top: 161px;
    background-color: #02141ffd;
    height: 70px;
}